<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="5">
  <%- include('../partials/head'); %>
</head>
<body class="container" style="background:black">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  
    <h4 style="color: white; padding-top: 20px;" class="text-center">Most Recent Photo: </h4>
    <p><%= tagline %></p>

    <ul style="color: white" class="center">
      <% photos.forEach(function(photo) { %>
        <li>
          <%= photo.name %>
          taken at <%= photo.time %>,
          at <%= photo.location %>
        </li>
      <% }); %>
    </ul>
</main>

<div class="wrapper">
  <div class="push"></div>
</div>
<p style="color: white" class="text-center" > URL: <%= online_url %></p>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</div>

</body>
</html>
