<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="5">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div style="background:black !important" class="jumbotron">
  
    <h3 style="color: white" class="center" >Messages Sent: </h3>
    <p><%= tagline %></p>

    <ul style="color: white" class="center">
      <% photos.forEach(function(photo) { %>
        <li>
          <%= photo.name %>
          taken at <%= photo.time %>,
          at <%= photo.location %>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
