<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="1">
  <%- include('../partials/head'); %>
</head>
<body class="container" style="background: #121212">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  
    <h4 style="color: white; padding-top: 20px;" class="text-center">Most Recent Photo: </h4>
    <!-- <p><%= tagline %></p> -->
    <div class="space"></div> 

    <img src="most_recent.jpg" alt="Most Recent Picture" class="text-center" onerror="this.style.display='none'" width=60% height=auto> 
<!-- 
    <ul style="color: white" class="center">
      <% photos.forEach(function(photo) { %>
        <li>
          <%= photo.name %>
          taken at <%= photo.time %>,
          at <%= photo.location %>
        </li>
      <% }); %>
    </ul>
     -->
</main>


<div class="space"></div>

<p style="color: white" class="text-center" > Your Passcode: <%= online_url %></p>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</div>

</body>
</html>
